.formatWrapper {
  // background: red;
  height: 100%;
  width: 50%;
  float: left;
  &.hidden {
    display: none;
  }
  &.fullshow {
    width: 100%;
  }
}

.columnActionIconDel {
  color: red;
  margin-left: 5px;
  cursor: pointer;
}