.editWrapper {
  background: #fff;
  height: 100%;
  width: 50%;
  float: left;
  &.hidden {
    display: none;
  }
  &.fullshow {
    width: 100%;
  }
}

$toolsRowHeight: 50px;

.textArea {
  height: calc(100% - #{$toolsRowHeight});
  resize: none;
  border: none;
  border-radius: 0;
  font-size: 14px;
}

.toolsRow {
  height: $toolsRowHeight;
  background: #fff; 
  border-top: 1px solid #F6F6F6;
  .toolsCol {
    margin-top: 10px;
  }
}