.toolFooterWrapper {
  background: #f6f6f6;
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.exportBtn {
  $btn-color : #f6f6f6;
  height: 100%;
  border-radius: 0;
  border: none;
  background: $btn-color;
  &:hover, &:focus {
    background: $btn-color;
  }
}